body{
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background: linear-gradient(to right, white,rgb(241, 235, 235));
}

.header{
    padding:20px;
    background-color: rgb(13, 13, 66);
}

.containerform{
    width: 30%;
    flex: 1;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right:auto;
    border: 3px solid black;
    border-radius: 10px;
}

.containerform hr{
    max-width: 100%;
}

input,textarea{
    background-color: transparent;
    border: none;
}

.w{
    width: 100%;
}

.btn{
    width: 100%;
}

#footer{
    padding-top: 10px;
    background-color: rgb(13, 13, 66);
    color: white;
}

.a1{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.a2{
    width: 100%;
    text-align: center;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

@media  screen and (max-width:992px) {
    .dis{
        font-size: 0px;
    }  
   
    .navbar-brand{
        font-size:17px
    }
    .containerform{
        width: 60% !important;
    }
    .a1{
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width:576px) {
    .dis{
        font-size: 0px;
    }  
    .navbar-brand{
        font-size:25px
    }
    
    .containerform{
        width: 90% !important;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;

    } 
    .a1{
        width: 100%;
        justify-content: space-between;
        padding: 10px;
    }
}

#darkmode{
    border-radius: 5px;
    background-color: rgb(13, 13, 66);
    border: 2px solid black;
    border-color: white;
    color: white;
}

body.dark-mode .button1:hover {
    background-color: #666 !important;
    cursor: pointer;
}

body.dark-mode .button2:hover {
    border-color: #888 !important;
    color: #fff !important;
    cursor: pointer;
}