body{
    background: linear-gradient(to right, white,rgb(241, 235, 235));
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.header{
    padding:20px;
    background-color: rgb(13, 13, 66);
}

.button1{
    background-color: rgb(13, 13, 66);
    color: white !important;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
}

.button2{
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    width: 100%;
}

h3{
    margin: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    margin-top: 38px;
    gap: 20px;
    align-items: stretch;
    width: 100%;
    max-width: 1000px;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(217, 205, 205);
}

.card-content{
    padding: 10px;
}

.card img{
    width: 100%;
    height: 200px;;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer{
    padding-top: 10px;
    background-color: rgb(13, 13, 66);
    color: white;
}

.a1{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.a2{
    width: 100%;
    text-align: center;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.cardX{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 7px black;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    margin-top: 75px;
}

#item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.cfor{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    justify-content: space-between;
}

#nimg{
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}

#n1img{
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}

#ig{
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

@media screen and (max-width:992px) and (min-width:577px){
    .dis{
        display: none;
    }  
    .navbar-brand{
        font-size:17px;
    }
    .container{
        grid-template-columns: 1fr 1fr;
    }
    h3{
        font-size: 17px;
    }
    .a1{
        width: 100%;
        justify-content: space-between;
    }
    .cfor{
        width: 500px;
    }
}

@media screen and (max-width:576px) {
    .dis{
        display: none;
    }  
    .navbar-brand{
        font-size: 25px;
    }
    p{
        font-size:10px;
    }
    .container{
        grid-template-columns: 1fr;
        margin-left: 0;
        padding: 0 15px;
    }
    h3{
        font-size: 15px;
    }
    .cardX{
        width: 400px;
    }
    .a1{
        width: 100%;
        justify-content: space-between;
        padding: 10px;
    }
    .cfor{
        width: 400px;
    }
}

#darkmode{
    border-radius: 5px;
    background-color: rgb(13, 13, 66);
    border: 2px solid black;
    border-color: white;
    color: white;
}

body.dark-mode .button1:hover {
    background-color: #666 !important;
    cursor: pointer;
}

body.dark-mode .button2:hover {
    border-color: #888 !important;
    color: #fff !important;
    cursor: pointer;
}
