body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, white, rgb(241, 235, 235));
    margin: 0;
}

.header {
    padding: 20px;
    background-color: rgb(13, 13, 66);
}

.item {
    position: relative;
    margin: 60px auto;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    box-shadow: 5px 5px 15px rgb(160, 150, 150);
}

.item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10px;
}

.price {
    padding: 20px 40px;
}

.button1_1 {
    background-color: rgb(13, 13, 66);
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    width: 60%;
}

.bt{
    display: inline-block;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    width: 20%;
    border: none;
    font-weight: bold;
}

.brief {
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px 60px;
    flex: 1;
}

h5 {
    color: rgb(171, 166, 166);
}

.brief p {
    color: rgb(78, 73, 73);
}

i{
    color: white;
}

#footer{
    padding-top: 10px;
    background-color: rgb(13, 13, 66);
    color: white;
}

.a1{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.a2{
    width: 100%;
    text-align: center;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 992px) {
    .dis {
        font-size: 0;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .item {
        max-width: 90% !important;
    }

    .brief {
        max-width: 90% !important;
        padding: 20px;
    }

    .item2 {
        font-size: 35px !important;
    }
    .a1{
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 576px) {
    .dis {
        font-size: 0;
    }

    .navbar-brand {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .item {
        max-width: 95% !important;
        margin: 20px auto;
    }

    .item2 {
        font-size: 25px !important;
        padding: 10px !important;
    }

    .price {
        padding: 15px;
    }

    .brief {
        max-width: 95% !important;
        padding: 10px;
    }
    .a1{
        width: 100%;
        justify-content: space-between;
        padding: 10px;
    }
}

#darkmode{
    border-radius: 5px;
    background-color: rgb(13, 13, 66);
    border: 2px solid black;
    border-color: white;
    color: white;
}

body.dark-mode .button1:hover {
    background-color: #666 !important;
    cursor: pointer;
}

body.dark-mode .button2:hover {
    border-color: #888 !important;
    color: #fff !important;
    cursor: pointer;
}

#btn{
    width: 200px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: lightgray;
    color: black;
}

